<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQG50f9Cg_STtkZ5ZSQEXR3UVn9AqXknQ</string>
	<key>GCM_SENDER_ID</key>
	<string>683476032153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.edu.ifpr.appLiterArt</string>
	<key>PROJECT_ID</key>
	<string>literart-529e2</string>
	<key>STORAGE_BUCKET</key>
	<string>literart-529e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683476032153:ios:92fd8e01af988bfcd17608</string>
</dict>
</plist>